/* Set font family to all objects */
.smartSearch, .submitButton, h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.smartSearch {
	margin: none;
	outline: none;
	border: none;

	height: 30px;
	width: 300px;

	padding-right: 20px;
	padding-left: 8px;

	border-radius: 5px;

	color: whitesmoke;
	background-color: rgb(53, 53, 53);
}

.heroContainer{
	background-color: rgb(66, 20, 20);
	padding-top: 15px;
	border-radius: 10px;
}

.wrapper {
	display: inline-grid;
	transform: scale(0.8, 0.8);
 	 -ms-transform: scale(0.8, 0.8);
  	-webkit-transform: scale(0.8, 0.8);
  	-o-transform: scale(0.8, 0.8); 
  	-moz-transform: scale(0.8, 0.8);
}

.hero-img {
	z-index: 3;
	border-width: 3px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	
}


.hero-img:hover {
	background: linear-gradient(#004092, #020202, transparent), no-repeat center; 
	background-size: cover; 
	box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
	cursor: pointer;
	
}

.hero-name {
	z-index: 5;
	list-style-type: none;
	text-decoration: none; /* no underline */
	color: white;

}

/* transform: scale(0.8, 0.8);
 	 -ms-transform: scale(0.8, 0.8);
  	-webkit-transform: scale(0.8, 0.8);
  	-o-transform: scale(0.8, 0.8); 
  	-moz-transform: scale(0.8, 0.8); Firefox */