.smartSearch, .submitButton, h2 {

	font-family: 'Roboto', sans-serif;
	font-weight: 300;

}
ul {
	margin: 0;
}

.wrapper{
	width: 100%;
}

.smartSearch {

	margin: none;
	outline: none;
	border: none;

	height: 35px;
	width: 300px;

	padding-right: 20px;
	padding-left: 8px;

	border-radius: 5px;

	color: whitesmoke;
	background-color: rgb(29, 29, 31);
	box-shadow: inset 0px 0px 45px rgb(17, 17, 17);

}

.numberResults {
	width: 1000px;
}

.heroContainer{

	display: flex;
	flex-wrap: wrap;
	flex: 0 0 50%;
	float: left;

	min-width: 45%;
	max-width: 600px;
	max-height: 400px;
	min-height: 675px;

	margin-top: 0;

	padding-top: 25px;
	padding-bottom: 15px;

	border-radius: 10px;

	list-style: none;

	background-color: rgb(29, 29, 31);
	box-shadow: inset 0px 0px 50px rgb(17, 17, 17); 
}

.counterContainer{

	display: flex;
	flex: 1;
	float: right;
	flex-direction: column;

	min-width: 46%;
	max-width: 675px;
	max-height: 400px;
	min-height: 675px;

	padding: 25px 0px 15px 25px;
	margin-right: 25px;

	border-radius: 10px;

	background-color: rgb(29, 29, 31);
	box-shadow: inset 0px 0px 50px rgb(17, 17, 17); 

}


.hero-img {

	float: left;
    position: relative;
	display: block;
	
    width: 59px;
	height: 33px;
	
    padding: 4px;
    margin-left: 2px;
	margin-bottom: 3px;
	
    -moz-border-radius: 3px;
	border-radius: 3px;

}

.counterName{
	font-family: 'Playfair Display SC', serif;
	text-align: center;
}

.counter-img {

	display: flex;
	
    width: 230px;
	height: 133px;
	
    padding: 4px;
	margin: 15px 0 3px 2px;
	
    -moz-border-radius: 3px;
	border-radius: 3px;

	border: 5px solid rgba(17, 17, 17, 0.45);
	box-shadow: inset 0px 0px 50px rgb(17, 17, 17); 

}

.heroCounter{
	padding-top: 25px;
	margin-left: 25px;
}

.hero-img:hover,
.hero-name:hover + .hero-img {

	background: linear-gradient(#DDD, transparent, transparent), no-repeat center; 
	background-size: cover; 
	box-shadow: 0px 0px 0px -10px rgba(235, 235, 235, 0.8); 

	cursor: pointer;

}

.hero-img:active,
.hero-name:active + .hero-img {

	background: linear-gradient(#ad3939, transparent, transparent), no-repeat center; 
	background-size: cover; 
	box-shadow: 0px 0px 0px -10px rgba(235, 235, 235, 0.8); 

	cursor: pointer;

}
